<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/rupeevest_nav</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin123</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">30</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
  
         <!-- For Batch Insert -->
        <property name="hibernate.jdbc.batch_size">50</property>
		<property name="hibernate.order_inserts">true</property>
		<property name="hibernate.order_updates">true</property>
		<property name="hibernate.jdbc.batch_versioned_data">true</property>

  
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="model.Navhistfull_adjnavrs"/> 
        <mapping class="model.nav_hist"/> 
        <mapping class="model.Scheme_Detail"/>
        <mapping class="model.nav_report_3_stable"/>
        <mapping class="model.Avg_ret_Model"/> 
        <mapping class="model.Qtr_Avg"/> 
        <mapping class="model.Nav_report_temp_1"/> 
        <mapping class="model.Report_5_Model"/> 
        <mapping class="model.Report_6_Model"/>  
        <mapping class="model.Report_10_Model"/>   
        <mapping class="model.Calma_Ratio_Model"/>
        <mapping class="model.Report_Merged_5_6_8_Model"/>
        <mapping class="model.ExpenceRatio"/>
        <mapping class="model.Mf_portfolio_New"/> 
        <mapping class="model.Custom_Merged_Report_W_Rank"/>  
        <mapping class="model.Schemeisin"/> 
        <mapping class="model.nav_report_3_Addition"/>
        <mapping class="model.Standard_Dev"/>
        <mapping class="model.Custom_Report"/>
        <!-- Debt Reports -->
        <mapping class="debt_Model.Avg_maturity"/>
        <mapping class="debt_Model.Debt_Report_1"/>
        <mapping class="debt_Model.Index_Master"/>
        <mapping class="debt_Model.Debt_Report_2"/> 
        <mapping class="debt_Model.Indices_ETF_Rep_2"/>
        <mapping class="debt_Model.Gold_ETF_Rep_2"/> 
        <mapping class="debt_Model.Hybrid_Report_Model"/>   
        <mapping class="controller.Excel_Rank_generator_Model"/>
        <!-- Others Reports -->
         <mapping class="Others_Model.Client_Databse_email"/>
        <!-- New ELSS -->
         <mapping class="New_Elss_Model.New_Elss_Model"/> 
        <!-- New Rolling Return Report -->
        <mapping class="model.Rolling_Return"/>
        <mapping class="model.New_Rolling_Report2"/>
        <mapping class="model.Scheme_available"/>
        <mapping class="model.Debt_Report_New" />
        <mapping class="BenchMarkIndex.benchmark_template" />
    </session-factory>
</hibernate-configuration>